force-app/main/default/flows/ILA_SearchZipcodesFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout_to_Zippo</name>
        <label>Callout to Zippo</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <actionName>Zipposervice.callZippo</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>decision_on_response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorfault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Enter_Country_code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zip</name>
            <value>
                <elementReference>Enter_Zip_code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Zipposervice.callZippo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Countrylist</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>in</stringValue>
        </value>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_on_response</name>
        <label>decision on response</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Callout_to_Zippo.responseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>On error</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_data_is_non_US</name>
        <label>if data is non US</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Country_code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Country_code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>us</stringValue>
                </rightValue>
            </conditions>
            <label>Non US</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ILA_SearchZipcodesFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Zipcodes Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorResponse</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(241, 6, 6);&quot;&gt;Error :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6);&quot;&gt;{!Callout_to_Zippo.responseCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errorfault</name>
        <label>Errorfault</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenFault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Error occurred !! please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>To get inputs for zip search</description>
        <name>inputScreen</name>
        <label>inputScreen</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Callout_to_Zippo</targetReference>
        </connector>
        <fields>
            <name>Enter_Country_code</name>
            <dataType>String</dataType>
            <fieldText>Enter Country code</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter Country code for search&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Zip_code</name>
            <dataType>String</dataType>
            <fieldText>Enter Zip code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Response from callout</description>
        <name>Response</name>
        <label>Response</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>if_data_is_non_US</targetReference>
        </connector>
        <fields>
            <name>displayResponse</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;RESPONSE :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!Callout_to_Zippo.2XX}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>inputScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Datalist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>responseData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
